<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>My Plan</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <header class="homePage">
        <h3>Plan Name</h3>
        <h5>City Name</h5>
        <h5>Date</h5>
      </header>
        <div class="col s1 m1 l1 searchBar">
          <input type="text" name="search" value placeholder="Search">
        </div>
        <div class="bigC">
          <div class="resultsPlan">
            <p>Time</p>
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div>
        <div class="bigC">
          <div class="resultsPlan">
            <p>Time</p>
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div>
        <div class="bigC">
          <div class="resultsPlan">
            <p>Time</p>
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>
