<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script>
      $(document).ready(function () {
        $('.submit').click(function () {
          var pathname = window.location.pathname;
          var hostname = window.location.hostname;

          $.ajax({
            type : 'POST',
            url : 'http://'+hostname+':3000'+pathname,
            data : {
              booya : 'booya',
            },
          });
        });
      });
    </script>
  </head>
  <body>
    <!--  include ../partials/nav  // removed ejs brackets for now-->
    <div class="container">
        <!-- <div class="col s1 m1 l1 searchBar">
          <input type="text" name="search" value placeholder="Search">
        </div> -->
        <form action="#" method="POST">
          <label for="name">plan name</label>
          <input type="text" name="name">
          <label for="location">select city:</label>
          <select name="location">
            <option value="austin">Austin</option>
            <option vlaue="san_francisco">San Francisco</option>
            <option value="new_york">New York</option>
            <option value="seattle">Seattle</option>
            <option value="miami">Miami</option>
            <option value="chicago">Chicago</option>
          </select>
          <label for="date">date</label>
          <input type="text" name="date">
        <label for="keyword">
          search for a place to add to your plan:
        </label>
        <input type="text" name="keyword">
        <input type="submit" class="submit" value="search">
      </form>
        <!-- <form class="deletePlanForm" action="">
          <button id="deletePlan"type="submit">Delete Plan</button>
        </form>
        <div class="bigC">
          <div class="resultsPlan rpt">
            <p>Time</p>
            <p>Free space to write</p>
          </div>
          <div class="resultsPlan rpb">
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div>
        <div class="bigC">
          <div class="resultsPlan rpt">
            <p>Time</p>
            <p>Free space to write</p>
          </div>
          <div class="resultsPlan rpb">
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div>
        <div class="bigC">
          <div class="resultsPlan rpt">
            <p>Time</p>
            <p>Free space to write</p>
          </div>
          <div class="resultsPlan rpb">
            <p>Picture</p>
            <p>Place Name</p>
          </div>
          <div class="resultsPlanButton">
            <a href= ""> Edit </a><span> | </span>
            <form class="deletePlanForm" action="">
              <button id="deletePlan"type="submit">Delete</button>
            </form>
          </div>
        </div> -->
    </div>
  </body>
</html>
