<!-- ATTN: NOT IN USE -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <% include ../partials/nav %>
  <body>
    <form action="/search" method="POST">
      <label for="location">select city:</label>
      <select name="location">
        <option value="austin">Austin</option>
        <option vlaue="san_francisco">San Francisco</option>
        <option value="new_york">New York</option>
        <option value="seattle">Seattle</option>
        <option value="miami">Miami</option>
        <option value="chicago">Chicago</option>
      </select>
    <label for="keyword">
      search for a place to add to your plan:
    </label>
    <input type="text" name="keyword">
    <input type="submit" value="search">
  </form>
  </body>
</html> -->
