<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/htmlhead.ejs  %>
            <title>Plans</title>
    </head>

    <body>
        <h2><%=city.city %></h2>
        <h2><%=city.name %></h2>

    </body>

</html>
