<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title>Plans</title>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <header class="homePage">
        <h3> Austin </h3>
      </header>
        <div class="col s1 m1 l1">
          <div class="card">
          <div class="card-image"><a href="#"><img class="homeImage"  src="/images/atx2.jpg">
            <div class="city-title card-title card-left">Weekend at bernie's</div>
       </div></a></div></div>
        <div class="card-bottom">
           <div class="">0</div>
           <div class=""><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></div>
        </div>
    </div>
  </body>
</html>
