<div class="col s4 m2 l1">
  <div class="card">
    <div class="card-image">
      <a href="<%= card.link %>">
        <img class="card-sm-image" src="http://placehold.it/200x200">
        <!-- <div class="city-title card-title"><%= card.name %></div> -->
      </a>
    </div>
  </div>
</div>
